面接練習WEBアプリ
声を録音して、解析
口癖、速さ、沈黙を可視化
Feedbackを表示
AIを使わないで、面接練習を行える。

svelte-kitで開発
バックもサーバーレスで書く
・ターゲット
就職活動を始める学生
（特に、人前で話すことや敬語表現に不安を感じる層）

模擬面接をしたいが、自分の声・映像データを外部に残したくない
面接官のように指摘や助言をしてくれる人が身近にいない

・課題?:
面接練習をしたいが、外部に情報を残すのには抵抗がある。
適切なしゃべり方が分からない。
敬語が分からない。
