面接練習WEBアプリ
声を録音して、解析
口癖、速さ、沈黙を可視化
Feedbackを表示
AIを使わないで、面接練習を行える。

svelte-kitで開発
バックもサーバーレスで書く

ターゲット: 
高校三年生の就職活動を始める人
(まだ人前で話すのは難しい人も含む)

課題?:
面接練習をしたいが、外部に情報を残すのには抵抗がある。
適切なしゃべり方が分からない。
敬語が分からない。

## 起動方法

1. `npm install` を実行して、依存関係をインストールします。
2. `npm run dev` を実行して、開発サーバーを起動します。
3. 表示されたURL（通常は `http://localhost:5173/`）にアクセスします。
